<div class="modal-header">
  <h4 class="modal-title pull-left">Delete</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span *ngIf="customer">
    Are you sure you want to delete customer <strong>{{ customer.name }}</strong
    >?
  </span>
  <span *ngIf="!customer">
    Are you sure you want to delete all entries from local storage?
  </span>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
  <button (click)="onConfirm()" class="btn btn-danger">Delete</button>
</div>
