<div class="modal-header">
  <h4 class="modal-title pull-left">Delete customer</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalService.closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Are you sure you want to delete customer <strong>{{ customer.name }}</strong
  >?
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="modalService.closeModal()">
    Cancel
  </button>
  <button (click)="onConfirm()" class="btn btn-danger">Delete customer</button>
</div>
