<div class="row">
  <div class="col-md-4 col-xl-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Customer details
        </li>
      </ol>
    </nav>
  </div>

  <div class="col" *ngIf="customer$ | async as customer">
    <div class="card">
      <div
        class="card-header border-0 d-flex justify-content-between align-items-center"
      >
        <h2 class="h4 mb-1">{{ customer.name }}</h2>
      </div>

      <div class="card-body p-0">
        <table class="table table-striped border-0 m-0">
          <tbody>
            <tr>
              <td>Email</td>
              <td>
                <a *ngIf="customer.email" href="mailto:{{ customer.email }}">{{
                  customer.email
                }}</a>
              </td>
            </tr>

            <tr>
              <td>Street</td>
              <td>{{ customer.street }}</td>
            </tr>

            <tr>
              <td>House</td>
              <td>{{ customer.house }}</td>
            </tr>

            <tr>
              <td>City</td>
              <td>{{ customer.city }}</td>
            </tr>

            <tr>
              <td>Zip</td>
              <td>{{ customer.zip }}</td>
            </tr>

            <tr>
              <td>Coordinates</td>
              <td>
                <!-- <div *ngIf="customer.coordinates?.length">
                  <a
                    href="https://www.google.com/maps/place/{{
                      customer.coordinates[1]
                    }},{{ customer.coordinates[0] }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    >{{ customer.friendlyCoordinates }}</a
                  >
                </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-white d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-secondary mr-2"
          (click)="modalService.openCustomerForm(customer)"
        >
          Edit details
        </button>

        <button
          class="btn btn-danger"
          type="button"
          (click)="modalService.openDeleteDialog(customer)"
        >
          Delete customer
        </button>
      </div>
    </div>
  </div>
</div>
