<!-- trūkumų: 0 -->
<div class="modal-header">
  <h4 class="modal-title">
    <ng-container *ngIf="customer.id">Edit customer</ng-container>
    <ng-container *ngIf="!customer.id">New customer</ng-container>
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalService.closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="model"
      [options]="options"
    ></formly-form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modalService.closeModal()"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">Save customer</button>
  </div>
</form>
